/* Error: $red: #7ed56f is not a number.
 *    ,
 * 25 |                   rgba($color-primary-light, 0,8),
 *    |                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   main.scss 25:19  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $red: #7ed56f is not a number.\a    \2577 \a 25 \2502                    rgba($color-primary-light, 0,8),\d\a    \2502                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   main.scss 25:19  root stylesheet";
}
