*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding:0;
    transition: all .6s;
  }

}

html  {
  font-size: 62.5%;


  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-tablet) {
    font-size: 75%;
  }


}


